[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pytz = "==2019.1"
python-slugify = "==3.0.2"
rcssmin = "==1.0.6"
argon2-cffi = "==19.1.0"
whitenoise = "==4.1.2"
redis = "==3.2.1"
celery = "==4.3.0"
flower = "==0.9.3"
django-environ = "==0.4.5"
django-model-utils = "==3.1.2"
django-allauth = "==0.39.1"
django-crispy-forms = "==1.7.2"
django-redis = "==4.10.0"
djangorestframework = "==3.9.4"
coreapi = "==2.3.3"
gunicorn = "==19.9.0"
psycopg2 = "==2.8.2"
sentry-sdk = "==0.8.0"
django-anymail = {extras = ["mailgun"],version = "==6.0.1"}
Pillow = "==9.0.0"
Django = "==2.2.1"
django_compressor = "==2.2"

[requires]
python_version = "3.7"
